<% provide(:title, 'About') %>
<div class="container">
<hr class="divider">

<h3 class = "lead">This site allows anyone to memorialize a loss that is tied to a specific location by pinning a white X and an associated ~250 characters of text to a specific location on a simple, web-based map. Anyone can browse the map and its submitted X's.</h3>

<h3 class = "lead">Over time, the map decays. X's on the map tend to slowly drift away from their origin point. When an X is clicked, the distance in miles the X has traveled to arrive at its current location is displayed under its text. A button available in the clicked-on X allows the viewer to choose to re-tether the X to its origin point, or let it continue drifting on.</h3>

<h3 class = "lead">This project was developed for the 50th anniversary of JFK's assassination. A painted white X marks the site of the assassination on Elm Street. This project recapitulates and generalizes that image, and engages questions of designation, permanence, and collaboration as applicable to the rituals of memorializing.</h3>

<%= link_to "<<", root_path %>

<hr class="divider">

<p class = "small">Developed by <a href="http://www.savannahniles.com" target="_blank">Savannah Niles</a> in Cambridge, MA. <a href="http://thenounproject.com/noun/close/#icon-No22166" target="_blank">Icon</a> designed by <a href="http://thenounproject.com/tomwalshdesign" target="_blank">Tom Walsh</a> from The Noun Project.</p>
</div>
