<script>

//= require underscore
//= require gmaps/google

var map;
var brooklyn = new google.maps.LatLng(40.6743890, -73.9455);

var MY_MAPTYPE_ID = 'custom_style';

var x = {    ////  global variable: the icon
	url: 'whiteX.svg',
	// This marker is 20 pixels wide by 32 pixels tall.
	size: new google.maps.Size(100, 100),
	// The origin for this image is 0,0.
	origin: new google.maps.Point(0,0),
	// The anchor for this image is the base of the flagpole at 0,32.
	anchor: new google.maps.Point(50, 50)
};

var newSubmissionMarker = new google.maps.Marker({
	icon: x,
	draggable: true,
	position: null,
	map: null
});

function placeMarker(position, map) {
  newSubmissionMarker.setMap(null);

  newSubmissionMarker = new google.maps.Marker({
  	icon: x,
  	draggable: true,
    position: position,
    map: map
  });

  map.panTo(position);
}

function initialize() {

  var featureOpts = [
    {
      stylers: [
        { hue: '#001A4C' },
        { visibility: 'simplified' },
        { gamma: 0.5 },
        { weight: 0.5 }
      ]
    },
    {
      elementType: 'labels',
      stylers: [
        { visibility: 'on' }

      ]
    },
    {
      elementType: 'labels.text.stroke',
      stylers: [
        { visibility: 'off' }
      ]
    },
    {
      featureType: "road",
      elementType: 'labels',
      stylers: [
        { visibility: 'off' }
      ]
    },
    {
      featureType: "poi",
      elementType: 'labels',
      stylers: [
        { visibility: 'off' }
      ]
    },
    {
      featureType: 'water',
      stylers: [
        { color: '#001A4C' }
      ]
    },
    {
      featureType: 'water',
      elementType: 'labels.text.fill',
      stylers: [
        { color: '#ffffff' }
      ]
    }
  ];

  var mapOptions = {
    zoom: 12,
    center: brooklyn,
    disableDefaultUI: true,
    mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP, MY_MAPTYPE_ID]
    },
    mapTypeId: MY_MAPTYPE_ID
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  ////////////////////////////////////////////////
  //styling the map
  var styledMapOptions = { name: 'Custom Style'};
  var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);
  map.mapTypes.set(MY_MAPTYPE_ID, customMapType); 

  ////////////////////////////////////////////////
  //add markers for submissions
  var contentString = '<div id="content">'+  //// test bubble
      //'<div id="siteNotice">'+
      //'</div>'+
      '<div id="bodyContent">'+
      "<p>Walking down Boylston and you telling me that you decided you wouldn't talk to him for the month that he was back in London.</p>"+
      '<p>Drifted 208 mi. from origin. Re-tether?  <a href="http://www.tether.cc">'+
      'Yes.</a></p> '+
      '</div>'+
      '</div>';

  var infowindow = new google.maps.InfoWindow({      //// new info window
      content: contentString,
      maxWidth: 300
  });

			  //https://developers.google.com/maps/documentation/javascript/examples/event-closure
			  //how to add multiple markers ^ with multiple info windows
			  //Another good one: http://www.sitepoint.com/google-maps-api-jquery/

  var marker = new google.maps.Marker({
    position: new google.maps.LatLng(40.6743890, -73.9455),
    icon: x,
    //icon: new google.maps.MarkerImage('whiteX.svg',
    //null, null, null, new google.maps.Size(100,100)),
    draggable: false,
    map: map
  });

  //////////////////////////////////////////////
  //add the window for new submissions

  var newSumissionContent = '<div id="content">'+  //// test bubble
      //'<div id="siteNotice">'+
      //'</div>'+
      '<div id="bodyContent">'+
      '<p>You can designate this location as part of this memorial. Type a message below to leave an X on the map. X\'s drift away from their origin points over time, but you or anyone else can always come back to re-tether it.</p>'+
      '<%= escape_javascript(render :partial => "shared/post_form", :locals => {:lat => @lat, :long => @long, :originLat => @originLat, :originLong => @originLong}).html_safe %>' +
      '</div>'+
      //'<%= escape_javascript(debug @post) %>' +
      '</div>';

  var newSubmissionInfoWindow = new google.maps.InfoWindow({      //// new info window
      content: newSumissionContent,
      maxWidth: 300
  });

  //////////////////////////////////////////////
  //add the listeners
  google.maps.event.addListener(map, 'click', function(e) {
    placeMarker(e.latLng, map);
    newSubmissionInfoWindow.open(map,newSubmissionMarker);

    $('input[name="post[lat]"').val(e.latLng.lat());
    $('input[name="post[long]"').val(e.latLng.lng());
    $('input[name="post[originLat]"').val(e.latLng.lat());
    $('input[name="post[originLong]"').val(e.latLng.lng());

  });
   google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  });

} //end of initialize



google.maps.event.addDomListener(window, 'load', initialize);

//http://guruparang.blogspot.com/2012/06/google-maps-locations-live-update-from.html
//live updating for later ^

</script>



<div class="nav pull-right">
  <p>Click an X to expand. Click the map and drag the X to add. Drag map to pan. Scroll window to zoom. | <%= link_to "About", about_path %></p>
</div>
<div id="map-canvas"></div>


