@import "bootstrap";

html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }

img {
	max-width: none;
}

.container {
	color: #001A4C;
}

a {
	color: #3661E7
}

.nav {
	position: absolute;
	z-index: 5;
	right: 1%;
	margin: 0;
	padding: 0;
	color: white;
	li {
		display: inline;
	}
	a {
		color: white;
	}
}

.nav > li > a {
display: inline;
}